@page "/pizzas/{pizzaname}"
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives
@inject NavigationManager NavManager

<div class="main">
	<h1>Buy a Pizza</h1>

	<p>I want to order a: @PizzaName</p>

	<p>I want to add this topping: @ToppingName</p>

	<button class="btn" @onclick="NavigateToPaymentPage">
		Buy this pizza!
	</button>
</div>
@code {
	[Parameter]
	public string PizzaName { get; set; }
	
	private string ToppingName { get; set; }
	
	protected override void OnInitialized()
	{
		StringValues extraTopping;
		var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("extratopping", out extraTopping))
		{
			ToppingName = System.Convert.ToString(extraTopping);
		}

	}

	private void NavigateToPaymentPage()
	{
		NavManager.NavigateTo("buypizza");
	}
}